/* styles.css */

/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Shared styles for the sidebar and header */
  .sidebar, .content {
    height: 100vh;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    background-color: #34495e; /* Ustrive-inspired color */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1; /* Ensure the sidebar is above the content */
  }
  
  .sidebar-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0; /* Add spacing between the categories */
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .divider {
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid #ffffff; /* Style the horizontal line */
  }
  
  .sidebar-category button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
    flex-grow: 1;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease; /* Add a transition effect */
  }
  
  .sidebar-category button:hover,
  .sidebar-category button:focus {
    background-color: #2c3e50; /* Change the background color on hover/focus */
    border-radius: 5px;
  }
  
  .sidebar-category button.active {
    font-weight: bold;
    background-color: #233140; /* Change the background color for the active button */
    border-radius: 5px;
    /* Add any other styles for the active button as needed */
  }
  
  
  .app{
    display: flex;
  }
  /* Header styles */
  .content {
    flex: 1;
    margin-left: 230px; /* Match the width of the sidebar */
  }
  
  .header {
    background-color: #34495e; /* Ustrive-inspired color */
    color: #ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    flex: 1;
    text-transform: capitalize;
  }
  
  .active-category {
    font-weight: bold;
    font-size: 18px;
  }
  
  .header-center {
    flex: 3;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .header-right {
    flex: 1;
    text-align: right;
  }
  
  .profile {
    cursor: pointer;
  }
  
  /* MentoringOpportunityForm css */

.mentoring-opportunity-form {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 30px; /* Add horizontal padding */
  box-sizing: border-box;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
  color: #34495e;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.dashboard-card {
  flex: 0 0 calc(50% - 4%);
  margin: 0 2% 4% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

